/* #game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
} */
body{
  width: 100%;
  position: fixed;
}

header{
  background-color: gray;
  width: 100%;
}
button:hover{
  background-color: blue;
}
.header-text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
input{
  width: 70%;
  float: right;

}



#meme-spread{
  display: inline-flex;
  width: 100%;
}


.wrapper-class{
  margin: 10px;
  
}
.image-class{
  position: relative;
}
.remove{
  
  
  width: 100%;
  margin: 2px 2px 2px 2px;
}

#add-meme{
  margin-right: 20%;
}









.forms{
  margin: 2%;
  position: relative;
}

p{
  color: white;
  text-align: center;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.div-wrapper{
  position: relative;
}

img{
  display: block;

}


.top-class{
  position: absolute;
  width: 100%;
  top: 3%
  
}
.bottom-class{
  position: absolute;
  width: 100%;
  bottom: 3%;
  
}






